
  body{
    background-color: #9999ff;
  }

  h1 {
    color: #009900;

  }
  h3 {
    color: #009900;

  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 20px;
    width: 10%;
  }
